<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Madfooatcom</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @RenderSection("scripts", required: false)

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">All Users</a>
                <a class="navbar-brand" href="/home/CreateUser">Create New User </a>
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>
    <div>
        <ul>
            <li><a href="/">All Users</a></li>
            <li><a href="/home/CreateUser">Add Users</a></li>
        </ul>
    </div>

    <div class="container body-content">

        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/Jquery-UI.js"></script>
        <link href="~/jquery-ui-themes-1.12.1/jquery-ui.css" rel="stylesheet" />

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Madfooatcom</p>
        </footer>
    </div>



</body>
</html>


